<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="index.css" /> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Time Zone Calculator</title>
</head>
<body style="margin: 2%;">

    <div class="d-flex flex-row">
        <div class="p-2" id="div1">    
        <div class="card text-center" style="width: 20rem;">
                <h2 class="card-header">  Your City: <%= objA.name %> </h2>
                <div class="card-body"> 
                    <h4 class="card-title"> Time zone: <%= objA.zoneName %> (<%= objA.zoneAbv %>)</h4>
                    <span> Local time: <%= formatedDateA %> </span>
                    <span> <hr>Local Forecast: </hr></span>
                    <p class="card-subtitle"> <%= forecastA.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' ') %> </p>
                </div>
            </div>
        </div>

            <div class="ml-auto p-2" id="div2">
                <div class="card text-center" style="width: 20rem;">
                    <h2 class="card-header">  Your Destination: <%= objB.name %> </h2>
                    <div class="card-body"> 
                        <h4 class="card-title"> Time zone: <%= objB.zoneName %> (<%= objB.zoneAbv %>)</h4>
                        <span> Local time: <%= formatedDateB %> </span>
                        <span> <hr> Local Forecast: </hr></span>
                        <p class="card-subtitle"> <%= forecastB.split(' ').map(w => w[0].toUpperCase() + w.substr(1).toLowerCase()).join(' ') %> </p>
                    </div>
                </div>
            </div>
        </div>  

    <img src="images/vector-plane.jpg" alt="plane" id="plane" style="position: absolute;left:350px;top:100px;width:80px">
            
    <div class="mx-auto" style="width: 500px; margin-top: 2%" id="div3">
        <div class="card text-center" style="width: 496px;">
            <h2 class="result"> <%= timeCall %> </h2>
            <a href='/'> Calculate new city </a> 
    </div>    

    <script> 
    let counter = 0; 

     const move = () => { 
      var myplane = document.getElementById("plane"); 
      var mydiv2 = document.getElementById("div2"); 
      myplane.style.left = parseInt(myplane.style.left) + 1 + "px"; 
      counter += 1; 
      console.log(counter);
      if (counter >= 375) { 
          clearInterval(myinter); 
         myplane.style.display = "none"; 
          } 
         }; 
    
         const movePlane = () => { 
             console.log("test"); 
             myinter = setInterval(move, 8); 
             }; 

       onload = movePlane() 
    </script>
</body>
</html>