<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your cities</title>
</head>
<body>
    
<div class="city-card">
    <h2>  <%= objA.name %> </h2>
    <div> 
        <h4> Time zone: <%= objA.zoneName %> (<%= objA.zoneAbv %>) </h4>

        <span>Local forecast: </span>
        <p> <%= forecastA %> </p>

    </div>
</div>



<div class="city-card">
        <h2>  <%= objB.name %> </h2>
        <div> 
            <h4> Time zone: <%= objB.zoneName %>  (<%= objB.zoneAbv %>) </h4>
            <span>Local forecast: </span>
            <p> <%= forecastB %>  </p>
        </div>
    </div>
    

    <div class="diff-card">
        <h2> <%= timeCall %> </h2>
    </div>


    

</body>
</html>